<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AVALIAÇÃO FORMADORA I
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">  AVALIAÇÃO FORMADORA </ion-title>
    </ion-toolbar>
  </ion-header>

<div id="box">

  <div id="container">
    <div id="img">

      <img src="assets/vasco.png">
  
    </div>
    <strong>
      Renan Fernandes Rodrigues <br>
      22105689 - [PAS23103|BS|N|ADS0301N]
    
    </strong>
  </div>

</div>

</ion-content>
